@charset "UTF-8";

/* :root {
    --main-color: #fff7f0;
    --base-color: rgb(226, 209, 183);
    --sub-color: #000097;
    --sub-color2: #b8001f;
    --text-color: rgb(45, 19, 1);
    --heading-font: "Playwrite NZ", "Roboto", "Yuji Boku", serif;
    --body-font: "robot", "Zen Kurenaido", sans-serif;
} */

body {
    width: calc(100% - 20px);
    margin-inline: auto;
    font-family: var(--body-font);
}
/*文字サイズなど*/
/* h1,
h2,
h3 {
    font-family: var(--heading-font);
} */
h1 {
    font-size: clamp(2rem, 0.5rem + 2.5vw, 3rem);
}
h2 {
    font-size: clamp(1.75rem, 0.5rem + 2.5vw, 2.25rem);
}
h3 {
    font-size: clamp(1.5rem, 0.5rem + 2.5vw, 2rem);
}
p {
    font-size: clamp(1rem, 0.5rem + 2.5vw, 1.25rem);
    text-indent: 0.5;
}

dt,
dd {
    font-size: clamp(1rem, 0.5rem + 2.5vw, 1.25rem);
}

th,
td {
    font-size: clamp(1rem, 0.5rem + 2.5vw, 1.25rem);
    padding-left: 0.5rem;
}

/*サイズ調整*/
header,
footer,
main,
article,
aside,
div,
section,
nav,
ul {
    height: 500px;
    border: 1px solid black;
}

/*その他*/
table {
    border-collapse: collapse;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
